# Environment files
.env
**/.env
!.env_example
!**/.env_example

# Python cache/artifacts
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Local caches
.cache/
**/.cache/

# Virtual environments
venv/
**/venv/
.venv/
**/.venv/

# Chroma DB local data
**/chroma/
**/chromadb/
**/chroma_db/
**/chroma.sqlite
**/chroma.sqlite3

# Local model artifacts
**/models/Phi-3-mini-4k-instruct-q4.gguf
